.avrist-job-search-1.avrist-search-result {
	@media screen and (min-width: 1024px) {
		ul>li:first-child {
		    width: 286px;
		}
		ul>li:last-child {
		    width: calc(100% - 286px);
		}
	}
	
	.search-resulted {
		@media screen and (max-width: 1023px) {
			.col-md-2 , .col-md-4 {
				padding: 0;
			}
			.col-md-4 {
				margin-bottom: 20px;
			}
		}
		.tri-xs {
			@media screen and (max-width: 1023px) {
				float: none;
				width: auto;
				display: inline-block;
				padding: 0 10px;
				border-right: 1px solid #ccc;
				p {
					margin: 0;
				}
				&.no-border {
					border-right: 0;
				}
			}
		}
	}
}

.avrist-job-detail-1 {
	.border-bottom {
		border-bottom: 2px solid $violet1;
		padding: 30px 0;
	}
	.left {
		hr {
			border-bottom: 3px solid $violet1;
			width: 50px;
		}
		.links {
			a {
				display: inline-block;
				margin: 0 10px;
				vertical-align: middle;
				&:first-child {
					margin-left: 0;
				}
				.share {
					@media screen and (max-width: 1023px) {
						width: 40px;
						height: 40px;
					}
				}
			}
			.btn-violet {
				@media screen and (max-width: 1023px) {
					padding: 10px 35px;
				}
			}
		}
	}
}