.avrist-banner-2 {
	position: relative;
	margin-bottom: 10px;
	.tab-pane {
		position: relative;
		height: 680px;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		@media screen and (max-width: 992px){
			background: none !important;
		    height: auto;
		    padding-bottom: 50px;
			> img {
				width: 100%;
			}
			.container {
				height: auto;
			}
		}
		> .container {
			height: 680px;
			position: relative;
		}
		.big-circle {
		    position: absolute;
		    bottom: 0;
		    right: 55px;
		    top: 70px;
		}
	}
	
	.banner-2-tabs {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		//MOBILE
		@media screen and (max-width: 992px){
		    left: 15px;
    		right: 15px;
		}
	}

}

.avrist-banner-2.banner-contact-1 .tab-pane {
    background-position: top center !important;
}
