.avrist-search-result.avrist-map-1 .contPad>ul>li {
	&:first-child {
	    @media screen and (min-width: 1024px) {
	    	width: 90px;
	    }
	}
	&:last-child {
	    @media screen and (min-width: 1024px) {
    		width: calc(100% - 90px);
	    }
	}
}

.avrist-map-1 {
	.map-par {
		height: 800px;
		background: grey;
		position: relative;
	    @media screen and (max-width: 1023px) {
	    	width: 100%;
	    	height: auto;
	    	.container {
	    		padding: 0;
	    	}
	    }
	    > .container {
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	right: 0;
		    @media screen and (max-width: 1023px) {
		    	position: relative;
		    }
	    }

	    #map-canvas {
	    	height: 100%;
		    @media screen and (max-width: 1023px) {
	    		height: 200px;
		    }
	    }
	}
	.map-nav {
		position: relative;
		.box-nav {
			position: absolute;
			left: 0;
			top: 50px;
			background: white;
			width: 400px;
			height: auto;
			max-height: 700px;
			box-shadow: 0px 0px 5px #f3f3f3;
		    overflow-y: overlay;
		    @media screen and (max-width: 1023px) {
		    	width: 100%;
		    	height: auto;
		    	position: relative;
		    	top: auto;
		    	overflow-y: initial;
		    	max-height: none;
		    }
			.label {
				font-size: 24px;
				font-family: 'DINPro-Medium';
				padding: 10px 25px;
				display: block;
				text-align: left;
				img {
					margin-right: 5px;
				}
				> span {
					color: #e8e8e8;
				}
			}

			.tab-content {
				padding: 10px 25px;
			    @media screen and (max-width: 1023px) {
			    	padding: 10px;
			    }
			}
			.tab-pane {
				> div {
					color: $greyText3;
					display: block;
					position: relative;
					padding: 15px 0;
					border-bottom: 3px solid #f3f3f3;
				    @media screen and (max-width: 1023px) {
						padding-right: 55px;
						border-bottom: 0;
				    }
					&.active {
						border-color: #ded4e7;
						.title {
							color: $violet1;
						}
						.distance {
							background: $violet1;
						}
					}
					.title {
						font-family: 'DINPro-Medium';
					    @media screen and (max-width: 1023px) {
							font-family: 'DINPro-Bold';
					    }
					}
					.btn-violet {
						display: none;
					    @media screen and (max-width: 1023px) {
							display: block;
						    max-width: 225px;
					    }
					}
					.distance {
						padding: 5px 7px;
						background: #b3b3b3;
						@include border-radius(10px);
						color: white;
						line-height: 1;
						position: absolute;
						right: 0;
						bottom: 15px;
					    @media screen and (max-width: 1023px) {
					    	bottom: auto;
					    	top: 10px;
					    }
					}
				}
			}

		}

		.box-nav-tabs {
			list-style-type: none;
			font-size: 0;
			> li {
				font-size: initial;
				display: inline-block;
				width: 50%;
				vertical-align: top;
				text-align: center;
				a {
					color: $greyText3;
					font-size: 16px;
					padding: 15px 10px;
					display: block;
				    @media screen and (max-width: 1023px) {
						font-size: 12px;
						width: calc(100% - 20px);
						margin: 0 10px;
				    }
				}
				&.active {
					a {
						border-bottom: 3px solid $violet1;
						color: $violet1;
						font-family: 'DINPro-Medium';
					}
				}
			}
		}

	}
}

.gm-style-par {
	background: $violet1;
	.gm-style-iw {
	}
}