@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

@@include('../Widgets/avrist-banner-4.html')
@@include('../Widgets/avrist-info-1.html')
@@include('../Widgets/avrist-threebox-1.html')
@@include('../Widgets/avrist-visi-misi.html')
@@include('../Widgets/avrist-slider-4.html')
@@include('../Widgets/avrist-thumbnail-white-1.html')
@@include('../Widgets/avrist-thumbnail-white-2.html')

<div class="hidden" id="header-2-show"></div>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})