@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

@@include('../Widgets/avrist-banner-3-notab.html')
@@include('../Widgets/avrist-info-1.html')
@@include('../Widgets/avrist-years-1.html')
@@include('../Widgets/avrist-three-box-2.html')
@@include('../Widgets/avrist-thumbnail-white-1.html')
@@include('../Widgets/avrist-thumbnail-white-2.html')

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})