@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})


@@include('../Widgets/avrist-banner-3-notab.html')
@@include('../Widgets/avrist-slider-2.html')
@@include('../Widgets/pick-product.html')
@@include('../Widgets/avrist-slider-3.html')
@@include('../Widgets/avrist-thumbnail-white-1.html')
@@include('../Widgets/avrist-thumbnail-white-2.html')
@@include('../Widgets/avrist-faq-1.html')


<div class="hidden" id="section-header-only"></div>
<div class="hidden" id="greenTheme"></div>
<div class="hidden" id="backButtonShow"></div>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})