@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

<div class="hidden" id="section-header-only"></div>

@@include('../Widgets/avrist-banner-3.html')

<div class="tab-content">
  <div id="solIndividu" class="tab-pane fade in active">

  @@include('../Widgets/avrist-slider-2.html')

  @@include('../Widgets/pick-product.html')

  @@include('../Widgets/avrist-slider-3.html')

  @@include('../Widgets/avrist-thumbnail-white-1.html')
  
  @@include('../Widgets/avrist-thumbnail-white-2.html')
 
  @@include('../Widgets/avrist-faq-1.html')
  
  </div>
  <div id="solBisnis" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>

<div class="hidden" id="backButtonShow"></div>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})