@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

<div class="hidden" id="header-2-show"></div>

@@include('../Widgets/avrist-banner-1-notab.html')

<!--avrist-search-result-->
<section class="avrist-search-result avrist-financial-report-1">
	<div class="container">
		<div class="contPad">

			<ul>
				<li>
					<p class="font-18 color-grey padding-left-xs-10 font-xs-10">Cari Laporan :</p>
				</li>
				<li>
					<div class="text-style-1">
						<input id="laporanSearch" type="text">
						<button><i class="fa fa-search color-ali"></i></button>
					</div>
				</li>
			</ul>

			<div class="search-resulted-par">

				<!--slider 1-->
				<p class="color-ali font-36 font-xs-26 margin-top-xs-20">Laporan Keuangan 2016</p>
				<div class="laporan-slider">

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2016</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2016 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2016</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2016 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2016</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2016 <br>Q3 (konvensional & syariah)</p>
					</div>

				</div>
				<!--slider-1-->

				<!--slider 2-->
				<p class="color-ali font-36 font-xs-26 margin-top-xs-20">Laporan Keuangan 2015</p>
				<div class="laporan-slider">

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2015</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2015 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2015</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2015 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2015</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2015 <br>Q3 (konvensional & syariah)</p>
					</div>

				</div>
				<div class="avrist-info-2 padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
					<div class="row">
						<div class="col-md-2 col-xs-4 col-sm-4 padding-left-0">
							<a href="#"><img class="width-full" src="./assets/images/icon-pdf-bg.jpg"></a>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-8 no-padding-xs">
							<div class="margin-top-40 margin-top-xs-0">
								<a href="#">
									<span class="font-24 font-xs-16 color-ali">Laporan Tahunan Pelaksanaan Tata Kelola <br class="hidden-xs hidden-sm">Terintegrasi 2015</span>
									<br><span class="font-14 font-xs-10 DINPro-Medium color-grey">PDF Files | 346 Kb</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--slider-2-->

				<!--slider 3-->
				<p class="color-ali font-36 font-xs-26 margin-top-xs-20">Laporan Keuangan 2014</p>
				<div class="laporan-slider">

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2014</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2014 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2014</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2014 <br>Q3 (konvensional & syariah)</p>
					</div>

					<div class="search-resulted">
						<a href="#" class="bg-grey2">
							<img src="./assets/images/icon-pdf-big.png" class="pdf">
							<span class="font-36 font-xs-26 color-grey">Q3 2014</span>
						</a>
						<p class="color-grey DINPro-Medium font-16 font-xs-12 margin-top-20">Laporan Keuangan <br>PT Avrist Assurance 2014 <br>Q3 (konvensional & syariah)</p>
					</div>

				</div>
				<div class="avrist-info-2 padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
					<div class="row">
						<div class="col-md-2 col-xs-4 col-sm-4 padding-left-0">
							<a href="#"><img class="width-full" src="./assets/images/icon-pdf-bg.jpg"></a>
						</div>
						<div class="col-md-10 col-xs-8 col-sm-8 no-padding-xs">
							<div class="margin-top-40 margin-top-xs-0">
								<a href="#">
									<span class="font-24 font-xs-16 color-ali">Laporan Tahunan Pelaksanaan Tata Kelola <br class="hidden-xs hidden-sm">Terintegrasi 2014</span>
									<br><span class="font-14 font-xs-10 DINPro-Medium color-grey">PDF Files | 346 Kb</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--slider-3-->

			</div>

		</div>
	</div>
</section>

<div class="news-pagination">
    <ul>
      <li class="active">
        <a href="#" class="font-21 font-xs-12">1</a>
      </li>
      <li>
        <a href="#" class="font-21 font-xs-12">2</a>
      </li>
      <li>
        <a href="#" class="font-21 font-xs-12">3</a>
      </li>
      <li>
        <a href="#" class="font-21 font-xs-12">4</a>
      </li>
    </ul>
</div>
<!--//avrist-search-result-->

@@include('../Widgets/avrist-thumbnail-white-1.html')

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})