
@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})

@@include('../Widgets/avrist-banner-2.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})

@@include('../Widgets/pick-product.html')

@@include('../Widgets/avrist-banner-thumbnail-1.html')

@@include('../Widgets/Invest-plan.html')

@@include('../Widgets/avrist-commitment-1.html')

@@include('../Widgets/avrist-slider-because-1.html')

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})