@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})


@@include('../Widgets/avrist-banner-5.html')

@@include('../Widgets/avrist-slider-4.html')

@@include('../Widgets/avrist-simulasi-produk-1.html')

@@include('../Widgets/avrist-faq-1.html')

@@include('../Widgets/avrist-faq-2.html')

@@include('../Widgets/avrist-thumbnail-2.html')

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})