@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})


@@include('../Widgets/avrist-banner-5.html')

<div class="tab-content">

    <div id="desc" class="tab-pane fade in active">
	  	@@include('../Widgets/avrist-info-1.html')

		@@include('../Widgets/avrist-slider-4.html')

		@@include('../Widgets/avrist-simulasi-produk-1.html')

		@@include('../Widgets/avrist-faq-1.html')

		@@include('../Widgets/avrist-faq-2.html')

		@@include('../Widgets/avrist-thumbnail-2.html')
	</div>

	<div id="simulasi" class="tab-pane fade">
		  	@@include('../Widgets/avrist-info-1.html')

			@@include('../Widgets/simulasi-produk-2.html')

	  		@@include('../Widgets/avrist-faq-1.html')
	</div>

	<div id="syarat" class="tab-pane fade">

	</div>

	<div id="banding" class="tab-pane fade">

	</div>

</div>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})