@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/homepage.css"
        ]
})


@@include('../Widgets/avrist-banner-1-notab.html')

@@include('../Widgets/avrist-dana-nav-harian.html')

@@include('../Widgets/avrist-thumbnail-grey-1.html')
@@include('../Widgets/avrist-thumbnail-white-2.html')

<div class="bg-grey2">
@@include('../Widgets/avrist-faq-1.html')
</div>

<div class="hidden" id="header-2-show"></div>
<div class="hidden" id="greenTheme"></div>

@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})