<div class="container avrist-compare">

  <div class="row margin-bottom-50">
    <h3 class="color-ali font-40 margin-top-25 margin-top-xs-0 font-xs-30 text-center margin-bottom-30">Bandingkan Produk</h3>
    <form class="form-inline avrist-compare-form">
      <div class="form-group">
        <label>Produk 1</label>
        <div class="select-style-1">
            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="avrist-compare-select" data-target="#avrist-compare-target-1">
                <option>Pilih Produk</option>
                <option>Produk A</option>
                <option>Produk B</option>
                <option>Produk B</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label>Produk 2</label>
        <div class="select-style-1">
            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="avrist-compare-select" data-target="#avrist-compare-target-2">
                <option>Pilih Produk</option>
                <option>Produk A</option>
                <option>Produk B</option>
                <option>Produk B</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <label>Produk 3</label>
        <div class="select-style-1">
            <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' class="avrist-compare-select" data-target="#avrist-compare-target-3">
                <option>Pilih Produk</option>
                <option>Produk A</option>
                <option>Produk B</option>
                <option>Produk B</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-violet">Bandingkan</button>
      </div>
    </form>
  </div>

  <div class="row avrist-compare-row">
    <div class="col-md-4 avrist-compare-target" id="avrist-compare-target-1">
      <div class="image-wrap">
        <img src="assets/images/product-compare-1.jpg">
      </div>
      <h5>Avrist Lalala - Individu</h5>
      <h3>Avrist Produk A</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis.</p>
      <hr />
      <h4>Benefit</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <hr />
      <h4>Kelengkapan Dokumen</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <a href="#" class="btn-violet">Lihat Selengkapnya</a>
    </div>
    <div class="col-md-4 avrist-compare-target" id="avrist-compare-target-2">
      <div class="image-wrap">
        <img src="assets/images/product-compare-1.jpg">
      </div>
      <h5>Avrist Lalala - Individu</h5>
      <h3>Avrist Produk A</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis.</p>
      <hr />
      <h4>Benefit</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <hr />
      <h4>Kelengkapan Dokumen</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <a href="#" class="btn-violet">Lihat Selengkapnya</a>
    </div>
    <div class="col-md-4 avrist-compare-target" id="avrist-compare-target-3">
      <div class="image-wrap">
        <img src="assets/images/product-compare-1.jpg">
      </div>
      <h5>Avrist Lalala - Individu</h5>
      <h3>Avrist Produk A</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis.</p>
      <hr />
      <h4>Benefit</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <hr />
      <h4>Kelengkapan Dokumen</h4>
      <ul>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
        <li><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibhaaa she is ullamcorper suscipit lobortis</span></li>
      </ul>
      <a href="#" class="btn-violet">Lihat Selengkapnya</a>
    </div>
  </div>





</div>