<section class="avrist-banner-1-par avrist-banner-1 banner-3">
	
	<div class="container">
		<div class="bannerCount">

			<div class="banner-3-slider count" tab-slider="#Jiwa">
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<h3 class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</h3>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- <div class="banner-3-slider count hidden" tab-slider="#solIndividu">
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<h3 class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</h3>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->

		</div>
	</div>

	<div class="ban4-link select-tab">
		<p align="left" class="font-20 color-grey margin-bottom-0 visible-sm visible-xs">Pilih Kategori Produk</p>
		<select id="tentangSelect" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
			<option value="#Jiwa">Jiwa</option>
			<option value="#solIndividu">Avrist Life</option>
		</select>
	</div>

</section>