<div class="avrist-thumbnail-1">
 	<div class="container">
 		<div class="contPad">
 			<div class="row">

 				<!--1-->
 				<div class="col-md-6 image height">
						<img src="./assets/images/produk-landing-1.jpg">
 				</div>
 				<div class="col-md-6 height">
 					<div class="description">
	 					<p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
	 					<p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
	 					<ul class="list margin-left-20">
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Sed diam nonummy nibh euismod tincidunt</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut laoreet dolore magna aliquam erat volutpat</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut wisi enim ad minim veniam, quis nostrud</p></li>
	 					</ul>
	 					<ul class="list-link">
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
	 					</ul>
 					</div>
 				</div>
 				<!--//1-->

				</div>
 			<div class="row">

 				<!--2-->
 				<div class="col-md-6 image height fl-right">
						<img src="./assets/images/produk-landing-1.jpg">
 				</div>
 				<div class="col-md-6 height">
 					<div class="description">
	 					<p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
	 					<p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
	 					<ul class="list margin-left-20">
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Sed diam nonummy nibh euismod tincidunt</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut laoreet dolore magna aliquam erat volutpat</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut wisi enim ad minim veniam, quis nostrud</p></li>
	 					</ul>
	 					<ul class="list-link">
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
	 					</ul>
 					</div>
 				</div>
 				<!--//2-->

				</div>
 			<div class="row">

 				<!--3-->
 				<div class="col-md-6 image height">
						<img src="./assets/images/produk-landing-1.jpg">
 				</div>
 				<div class="col-md-6 height">
 					<div class="description">
	 					<p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
	 					<p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
	 					<ul class="list margin-left-20">
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Sed diam nonummy nibh euismod tincidunt</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut laoreet dolore magna aliquam erat volutpat</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut wisi enim ad minim veniam, quis nostrud</p></li>
	 					</ul>
	 					<ul class="list-link">
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
	 					</ul>
 					</div>
 				</div>
 				<!--//3-->

				</div>
 			<div class="row">

 				<!--4-->
 				<div class="col-md-6 image height fl-right">
						<img src="./assets/images/produk-landing-1.jpg">
 				</div>
 				<div class="col-md-6 height">
 					<div class="description">
	 					<p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
	 					<p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
	 					<ul class="list margin-left-20">
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Sed diam nonummy nibh euismod tincidunt</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut laoreet dolore magna aliquam erat volutpat</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut wisi enim ad minim veniam, quis nostrud</p></li>
	 					</ul>
	 					<ul class="list-link margin-top-40">
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
	 					</ul>
 					</div>
 				</div>
 				<!--//4-->

				</div>
 			<div class="row">

 				<!--5-->
 				<div class="col-md-6 image height">
						<img src="./assets/images/produk-landing-1.jpg">
 				</div>
 				<div class="col-md-6 height">
 					<div class="description">
	 					<p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
	 					<p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
	 					<ul class="list margin-left-20">
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Sed diam nonummy nibh euismod tincidunt</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut laoreet dolore magna aliquam erat volutpat</p></li>
	 						<li class="color-ali"><p class="color-grey font-14 font-xs-12">Ut wisi enim ad minim veniam, quis nostrud</p></li>
	 					</ul>
	 					<ul class="list-link">
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
	 						<li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
	 					</ul>
 					</div>
 				</div>
 				<!--//5-->

				</div>

 		</div>
 	</div>
	</div>