<!--avrist-threebox-1-->
<section class="avrist-threebox-1 padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
	<div class="container">
		<div class="contPad">
			<div class="row">
				<div class="col-md-4">
					<div class="bg-ali atb1-box life">
						<ul>
							<li>
                				<img class="img-botr hidden-xs hidden-sm" src="./assets/images/icon-solution-1.png">
                				<img class="img-botr visible-xs visible-sm" src="./assets/images/icon-solution-1-mobile.png">
							</li>
							<li>
		                		<p class="DINPro-Medium title">Avrist Life</p>
		                		<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="bg-green2 atb1-box sharia">
						<ul>
							<li>
                				<img class="img-botr hidden-xs hidden-sm" src="./assets/images/icon-solution-2.png">
                				<img class="img-botr visible-xs visible-sm" src="./assets/images/icon-solution-2-mobile.png">
							</li>
							<li>
		                		<p class="DINPro-Medium title">Sharia Insurance</p>
		                		<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="bg-yellow1 atb1-box pension">
						<ul>
							<li>
                				<img class="img-botr hidden-xs hidden-sm" src="./assets/images/icon-solution-3.png">
                				<img class="img-botr visible-xs visible-sm" src="./assets/images/icon-solution-3-mobile.png">
							</li>
							<li>
		                		<p class="DINPro-Medium title">Pension</p>
		                		<p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--avrist-threebox-1-->