<!--update-dana-nav-harian-->
<section class="avrist-data-nav">
	<div class="container">
		<div class="contPad">
			
			<form method="" action="">
				<ul class="list-par">
					<li class="left">
						<div class="datepick-Box">
							<span>Pilih Tanggal : </span>
							<input type="text" class="date-picker" data-date-format="mm - dd - yyyy" placeholder="24 - 04 - 2017">
							<img src="./assets/images/icon-calendar.png">
						</div>
					</li>
					<li class="right">
						<div class="text-style-1 button border">
							<p class="font-18 font-xs-14 color-grey">Lihat Dana Harian :</p>
							<input id="dataSearch" type="text" placeholder="">
							<button type="submit"><i class="fa fa-search color-ali"></i></button>
						</div>
					</li>
				</ul>
			</form>
			
			<div class="data-par">
				<div class="row data-box hidden-xs hidden-sm">
					<div class="col-md-3">
						<p class="font-16 color-grey2 DINPro-Bold">Nama Dana</p>
					</div>
					<div class="col-md-2 text-center">
						<p class="font-16 color-grey2 DINPro-Bold">27/09/2016</p>
					</div>
					<div class="col-md-2 text-center">
						<p class="font-16 color-grey2 DINPro-Bold">28/09/2016</p>
					</div>
				</div>

				<div class="row data-box">
					<div class="col-md-3">
						<p class="font-18 color-ali DINPro-Bold">Avrist Equity Cross Sectoral</p>
					</div>
					<div class="col-md-2 col-xs-4 prev">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 color-grey2">1,264.72</p>
					</div>
					<div class="col-md-2 col-xs-4  current">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 DINPro-Medium color-green-plan">1,264.89</p>
					</div>
					<div class="col-md-2 col-xs-4 status">
						<p class="font-14 color-green-plan DINPro-Bold padding-top-xs-10"><img src="./assets/images/plan-up.png"> 0.17</p>
					</div>
					<div class="col-md-3 invest">
						<a href="#" class="btn-violet">Invest Now</a>
					</div>
				</div>

				<div class="row data-box">
					<div class="col-md-3">
						<p class="font-18 color-ali DINPro-Bold">Avrist Equity Cross Sectoral</p>
					</div>
					<div class="col-md-2 col-xs-4 prev">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 color-grey2">1,264.72</p>
					</div>
					<div class="col-md-2 col-xs-4  current">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 DINPro-Medium color-green-plan">1,264.89</p>
					</div>
					<div class="col-md-2 col-xs-4 status">
						<p class="font-14 color-red1 DINPro-Bold padding-top-xs-10"><img src="./assets/images/plan-down.png"> 0.17</p>
					</div>
					<div class="col-md-3 invest">
						<a href="#" class="btn-violet">Invest Now</a>
					</div>
				</div>

				<div class="row data-box">
					<div class="col-md-3">
						<p class="font-18 color-ali DINPro-Bold">Avrist Equity Cross Sectoral</p>
					</div>
					<div class="col-md-2 col-xs-4 prev">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 color-grey2">1,264.72</p>
					</div>
					<div class="col-md-2 col-xs-4  current">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 DINPro-Medium color-green-plan">1,264.89</p>
					</div>
					<div class="col-md-2 col-xs-4 status">
						<p class="font-14 color-green-plan DINPro-Bold padding-top-xs-10"><img src="./assets/images/plan-up.png"> 0.17</p>
					</div>
					<div class="col-md-3 invest">
						<a href="#" class="btn-violet">Invest Now</a>
					</div>
				</div>

				<div class="row data-box">
					<div class="col-md-3">
						<p class="font-18 color-ali DINPro-Bold">Avrist Equity Cross Sectoral</p>
					</div>
					<div class="col-md-2 col-xs-4 prev">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 color-grey2">1,264.72</p>
					</div>
					<div class="col-md-2 col-xs-4  current">
						<p class="font-10 color-grey2 DINPro-Bold visible-xs visible-sm">27/09/2016</p>
						<p class="font-24 font-xs-20 DINPro-Medium color-green-plan">1,264.89</p>
					</div>
					<div class="col-md-2 col-xs-4 status">
						<p class="font-14 color-red1 DINPro-Bold padding-top-xs-10"><img src="./assets/images/plan-down.png"> 0.17</p>
					</div>
					<div class="col-md-3 invest">
						<a href="#" class="btn-violet">Invest Now</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
<!--update-dana-nav-harian-->