<section class="avrist-banner-1-par avrist-banner-1 banner-3">
	<div class="container">
		<div class="bannerCount">
			<div class="banner-3-slider count" tab-slider="#solIndividu">
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</p>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
				
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</p>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-3-slider count hidden" tab-slider="#solBisnis">
				
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</p>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
				
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-18">Avrist Life Insurance</p>
								<p class="color-grey DINPro-Light font-36 font-xs-26">Finally Life Insurance <br>Made Simple</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="banner-1-tabs-par banner-3-tabs slider-trigger">
			<ul class="banner-1-tabs hidden-sm hidden-xs">
			  <li class="active"><a data-toggle="tab" href="#solIndividu">SOLUSI INDIVIDU</a></li>
			  <li><a data-toggle="tab" href="#solBisnis">SOLUSI BISNIS</a></li>
			</ul>
		</div>

		<div id="tentang-select-1" class="select-tab visible-xs visible-sm">
			<p align="left" class="font-20 color-grey margin-bottom-0">Pilih Menu</p>
			<select id="tentangSelect">
				<option value="#solIndividu">SOLUSI INDIVIDU</option>
				<option value="#solBisnis">SOLUSI BISNIS</option>
			</select>
		</div>
	</div>
</section>