<!--avrist-commitment-1-->
<section class="avrist-commitment-1">
	<div class="container commitment-bg hasBackground" data-bg="./assets/images/commitment-bg.png">
		<div class="contPad">
			<div class="row">
				<div class="col-md-6 col-md-offset-6 padding-xs-0">
					<div class="commitment-right">
						<p class="font-48 font-xs-30 color-ali">Advancing Life</p>
						<p class="color-grey font-18 font-xs-12 margin-bottom-25">Lorem ipsum dolor sit amet, consectetuer adipiscing elitadf diam nonummy nibh euismod tincidunt ut laoreetipsum magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
						<img src="./assets/images/line-of-business.png">
						<a class="btn-violet margin-top-40" href="#">Avrist Commitment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--//avrist-commitment-1-->