<!--avrist-three-box-2-->
<section class="Avrist-banner-thumbnail-1 Avrist-slider-3 avrist-slider-4">
  <div class="container">
    <div class="contPad">
      <p class="color-ali font-48 margin-top-25 margin-top-xs-0 font-xs-30">Avrist Total Solution</p>
      <p class="color-grey font-18 font-xs-12">Lorem ipsum dolor sit amet, consectetuer adipiscing <br class="hidden-xs hidden-sm">elit, sed diam nonummy nibhaaa she is.</p>
	  
	  <div class="abt-2-par">
          <div class="abt-2-slider">

            <div class="abts-box">
                <div class="bg-ali">
	                <p class="DINPro-Medium font-20 font-xs-16 color-white">Avrist Life</p>
	                <p class="font-14 font-xs-12 color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
	                <img class="img-botr" src="./assets/images/icon-solution-1.png">
                </div>
            </div>
            <div class="abts-box">
              	<div class="bg-green2">
	                <p class="DINPro-Medium font-20 font-xs-16 color-white">Sharia Insurance</p>
	                <p class="font-14 font-xs-12 color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
	                <img class="img-botr" src="./assets/images/icon-solution-2.png">
              	</div>
            </div>
            <div class="abts-box">
              	<div class="bg-yellow1">
	                <p class="DINPro-Medium font-20 font-xs-16 color-white">Pension</p>
	                <p class="font-14 font-xs-12 color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
	                <img class="img-botr" src="./assets/images/icon-solution-3.png">
              	</div>
            </div>
            <div class="abts-box">
              	<div class="bg-ali">
	                <p class="DINPro-Medium font-20 font-xs-16 color-white">Avrist Life</p>
	                <p class="font-14 font-xs-12 color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
	                <img class="img-botr" src="./assets/images/icon-solution-1.png">
              	</div>
            </div>
            <div class="abts-box">
              	<div class="bg-green2">
	                <p class="DINPro-Medium font-20 font-xs-16 color-white">Sharia Insurance</p>
	                <p class="font-14 font-xs-12 color-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonum</p>
	                <img class="img-botr" src="./assets/images/icon-solution-2.png">
              	</div>
            </div>

          </div>

          <div class="pagination">
          	<ul>
          		<li class="left font-26 font-xs-20"><span class="bold color-ali">3</span></li>
          		<li>&nbsp;/&nbsp;</li>
          		<li class="right font-26 font-xs-20"><span>8</span></li>
          	</ul>
          </div>
	  </div>

    </div>
  </div>
</section>
<!--avrist-three-box-2-->