<!--avrist-tab-1-->
<div class="bg-line1">
  <div class="container avrist-tab-1 margin-top-25 margin-top-xs-0">
    <div class="contPad">
      <p class="font-48 font-xs-30 color-ali margin-bottom-25">Cerita Karyawan</p>

      <div class="tab-content">
        <div id="karyawan1" class="tab-pane fade in active">
          <div class="row margin-0 padding-top-20 padding-bottom-20">
            <div class="col-md-6 text-center">
              <img class="width-xs-75" src="./assets/images/karyawan-big-1.png">
            </div>
            <div class="col-md-6 padding-top-25">
              <p class="font-36 font-xs-24 color-ali margin-bottom-0">Azza Diah</p>
              <p class="font-24 font-xs-18 color-grey DINPro-Bold">Lorem Ipsum</p>
              <p class="font-14 font-xs-12 line-height-2-5 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan etsim.</p>
            </div>
          </div>
        </div>
        <div id="karyawan2" class="tab-pane fade">
          <div class="row margin-0 padding-top-20 padding-bottom-20">
            <div class="col-md-6 text-center">
              <img class="width-xs-75" src="./assets/images/karyawan-big-1.png">
            </div>
            <div class="col-md-6 padding-top-25">
              <p class="font-36 font-xs-24 color-ali margin-bottom-0">Azza Diah</p>
              <p class="font-24 font-xs-18 color-grey DINPro-Bold">Lorem Ipsum</p>
              <p class="font-14 font-xs-12 line-height-2-5 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan etsim.</p>
            </div>
          </div>
        </div>
        <div id="karyawan3" class="tab-pane fade">
          <div class="row margin-0 padding-top-20 padding-bottom-20">
            <div class="col-md-6 text-center">
              <img class="width-xs-75" src="./assets/images/karyawan-big-1.png">
            </div>
            <div class="col-md-6 padding-top-25">
              <p class="font-36 font-xs-24 color-ali margin-bottom-0">Azza Diah</p>
              <p class="font-24 font-xs-18 color-grey DINPro-Bold">Lorem Ipsum</p>
              <p class="font-14 font-xs-12 line-height-2-5 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan etsim.</p>
            </div>
          </div>
        </div>
        <div id="karyawan4" class="tab-pane fade">
          <div class="row margin-0 padding-top-20 padding-bottom-20">
            <div class="col-md-6 text-center">
              <img class="width-xs-75" src="./assets/images/karyawan-big-1.png">
            </div>
            <div class="col-md-6 padding-top-25">
              <p class="font-36 font-xs-24 color-ali margin-bottom-0">Azza Diah</p>
              <p class="font-24 font-xs-18 color-grey DINPro-Bold">Lorem Ipsum</p>
              <p class="font-14 font-xs-12 line-height-2-5 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan etsim.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-center">
        <ul class="banner-2-tabs">
          <li class="active">
            <a data-toggle="tab" href="#karyawan1">
                <span class="picture">
                    <img src="./assets/images/karyawan-small-1.png">
                </span>
                <span class="color-ali DINPro-Bold">Azza Diah</span>
            </a>
          </li>
          <li class="">
            <a data-toggle="tab" href="#karyawan2">
                <span class="picture">
                    <img src="./assets/images/person-business.png">
                </span>
                <span class="color-ali DINPro-Bold">BUSINESS</span>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#karyawan3">
                <span class="picture">
                    <img src="./assets/images/person-family.png">
                </span>
                <span class="color-ali DINPro-Bold">FAMILY</span>
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#karyawan4">
                <span class="picture">
                    <img src="./assets/images/person-retiree.png">
                </span>
                <span class="color-ali DINPro-Bold">RETIREE</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
<!--avrist-tab-1-->