<!--avrist-banner-5-->
<section class="avrist-banner-1-par avrist-banner-1 avrist-banner-5 container hasBackground" data-bg="./assets/images/banner-5-1.png">

	<img class="visible-xs visible-sm" src="./assets/images/banner-5-1-mobile.jpg">

	<div class="banner-title">
		<ul>
			<li>
				<p class="font-16 font-xs-10 color-ali DINPro-Bold">Avrist Life - Individu</p>
				<h1 class="font-48 font-xs-22 margin-bottom-25 margin-bottom-xs-0 color-grey-title">Avrist Sehati</h1>
			</li>
			<li class="right-btn">
				<a href="#" class="btn-violet margin-right-25 padding-xs-0">
					<span class="hidden-xs hidden-sm DINPro-Bold">Download Brochure</span>
					<span class="visible-xs visible-sm downloadButton"></span>
				</a>
				<a href="#">
					<span class="hidden-xs hidden-sm shareButton"></span>
					<span class="visible-xs visible-sm shareButtonWhite"></span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="banner-1-tabs-par">
		<ul class="banner-1-tabs hidden-sm hidden-xs">
		  <li class="active"><a data-toggle="tab" href="#desc">DESCRIPTION</a></li>
		  <li><a data-toggle="tab" href="#simulasi">SIMULASI PRODUK</a></li>
		  <li><a data-toggle="tab" href="#syarat">SYARAT KEPESERTAAN</a></li>
		  <li><a data-toggle="tab" href="#banding">BANDINGKAN PRODUK</a></li>
		</ul>
	</div>

	<div id="tentang-select-1" class="select-tab visible-xs visible-sm">
		<p align="left" class="font-20 font-xs-16 margin-left-10 color-grey margin-bottom-0">Pilih Menu</p>
		<select id="tentangSelect">
			<option value="#desc">DESCRIPTION</option>
			<option value="#simulasi">SIMULASI PRODUK</option>
			<option value="#syarat">SYARAT KEPESERTAAN</option>
			<option value="#banding">BANDINGKAN PRODUK</option>
		</select>
	</div>

</section>
<!--//avrist-banner-5-->