<!--avrist-slider-2-->
    <div class="avrist-slider-2">
      <div class="container">
        <div class="contPad">
          <div>
            <p class="font-48 font-xs-30 color-ali">We’re here to help</p>
            <p class="font-18 font-xs-14 color-grey3">Not only to protect your lorem but also lorem ipsum dolor fectrum <br class="hidden-xs hidden-sm">processus dynamicus, qui sequitur consuetudium.</p>
          </div>
          <div class="av-sl2-slider">
            <div class="av-sl2-box">
              <a href="#">
                <div class="image">
                  <img src="./assets/images/icon-life.png">
                </div>
                <p class="color-ali font-21 DINPro-Bold title">LIFE</p>
                <p class="font-14 color-grey text">Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit
                sed diam. Quis nostrud 
                ullam corperexerci.</p>
                <div class="btn-violet">Learn More</div>
              </a>
            </div>
            <div class="av-sl2-box">
              <a href="#">
                <div class="image">
                  <img src="./assets/images/icon-health.png">
                </div>
                <p class="color-ali font-21 DINPro-Bold title">HEALTH</p>
                <p class="font-14 color-grey text">Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit
                sed diam. Quis nostrud 
                ullam corperexerci.</p>
                <div class="btn-violet">Learn More</div>
              </a>
            </div>
            <div class="av-sl2-box">
              <a href="#">
                <div class="image">
                  <img src="./assets/images/icon-pendidikan.png">
                </div>
                <p class="color-ali font-21 DINPro-Bold title">PENDIDIKAN</p>
                <p class="font-14 color-grey text">Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit
                sed diam. Quis nostrud 
                ullam corperexerci.</p>
                <div class="btn-violet">Learn More</div>
              </a>
            </div>
            <div class="av-sl2-box">
              <a href="#">
                <div class="image">
                  <img src="./assets/images/icon-pensiun.png">
                </div>
                <p class="color-ali font-21 DINPro-Bold title">PENSIUN</p>
                <p class="font-14 color-grey text">Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit
                sed diam. Quis nostrud 
                ullam corperexerci.</p>
                <div class="btn-violet">Learn More</div>
              </a>
            </div>
            <div class="av-sl2-box">
              <a href="#">
                <div class="image">
                  <img src="./assets/images/icon-life.png">
                </div>
                <p class="color-ali font-21 DINPro-Bold title">LIFE</p>
                <p class="font-14 color-grey text">Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit
                sed diam. Quis nostrud 
                ullam corperexerci.</p>
                <div class="btn-violet">Learn More</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  <!--//avrist-slider-2-->