<!--avrist-banner-contact-1-->
<section>
    
    <div class="avrist-banner-2 banner-contact-1">
        <div class="tab-content">
          <div id="individu" class="tab-pane fade in active hasBackground" data-bg="./assets/images/banner-contact-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-contact-1-mobile.jpg">
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">CONTACT US</p>
                            <p class="color-white DINPro-Light font-26 margin-bottom-10">PT Avrist Assurance <br>(Head Office)</p>
                            <p class="font-16 color-white DINPro-Medium">Gedung Bank Panin Senayan Lt. 3,7,8 <br>Jl. Jenderal Sudirman Jakarta 10270 <br>Indonesia</p>
                            <hr>
                            <ul>
                                <li>
                                    <p class="DINPro-Medium">Call Center : +62 21 5789 8188</p>
                                </li>
                                <li>
                                    <p class="DINPro-Medium">Fax : +62 21 572 1308</p>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Email : customer-service@avrist.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
        </div>

    </div>

    <div class="mobile-tab-circle visible-xs visible-sm padding-top-20">
        <div id="m-individu" class="fade active">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">CONTACT US</p>
                <p class="color-grey DINPro-Light font-26 margin-bottom-10">PT Avrist Assurance <br>(Head Office)</p>
                <p class="font-16 color-grey DINPro-Medium">Gedung Bank Panin Senayan Lt. 3,7,8 <br>Jl. Jenderal Sudirman Jakarta 10270 <br>Indonesia</p>
                <hr>
                <ul>
                    <li>
                        <p class="DINPro-Medium color-ali">Call Center : +62 21 5789 8188</p>
                    </li>
                    <li>
                        <p class="DINPro-Medium color-ali">Fax : +62 21 572 1308</p>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Email : customer-service@avrist.com</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
    </div>

</section>
<!--//avrist-banner-contact-1-->