<!--Avrist-banner-thumbnail-1-->
<section class="Avrist-banner-thumbnail-1">
	<div class="abt-1-bg hasBackground" data-bg="./assets/images/Avrist-banner-thumbnail-1-bg.jpg" data-bg-mobile="">
		<div class="container">
			<div class="contPad">
				<p class="color-ali font-48 margin-top-25 margin-top-xs-0 font-xs-30">We’re here to help</p>
				<p class="color-grey font-18 padding-right-xs-50 font-xs-14">Not only to protect your lorem but also lorem ipsum dolor fectrum <br>processus dynamicus, qui sequitur consuetudium.</p>

				<div class="abt-1-slider">
					<div class="abts-box">
						<div>
							<p class="DINPro-Medium font-20 color-ali">Tentang Investasi</p>
							<p class="font-14 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
							<a class="link-arrow DINPro-Bold color-grey font-12" href="#">LEARN MORE</a>
						</div>
					</div>
					<div class="abts-box">
						<div>
							<p class="DINPro-Medium font-20 color-ali">Simulasi Investasi Reksa Dana</p>
							<p class="font-14 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
							<a class="link-arrow DINPro-Bold color-grey font-12" href="#">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--//Avrist-banner-thumbnail-1-->