<section class="avrist-banner-1-par avrist-banner-1 banner-3">
	<div class="container">
		<div class="bannerCount">
			<div class="banner-3-slider count" tab-slider="#solIndividu">
			
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/karir-banner-1.png">
					<img class="visible-xs visible-sm" src="./assets/images/karir-banner-1-mobile.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-12 margin-bottom-0">Karir</p>
								<p class="color-ali DINPro-Light font-36 font-xs-20">Advancing Life lorem <br>ipsum dolor sit </p>
							</div>
						</div>
					</div>
				</div>

				<!-- <div>
					<img class="hidden-xs hidden-sm" src="./assets/images/karir-banner-1.png">
					<img class="visible-xs visible-sm" src="./assets/images/karir-banner-1-mobile.jpg">
					<div class="banner-content">
						<div class="container middle">
							<div class="contPad padding-left-50 padding-left-xs-0">
								<p class="color-ali DINPro-Bold font-28 font-xs-12 margin-bottom-0">Karir</p>
								<p class="color-ali DINPro-Light font-36 font-xs-20">Advancing Life lorem <br>ipsum dolor sit </p>
							</div>
						</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>
</section>