<!--avrist-job-search-1-->
<section class="avrist-job-search-1 avrist-search-result">
	<div class="container">
		<div class="contPad">
			<ul>
				<li>
					<p class="font-18 color-grey padding-left-xs-10 font-xs-10">Cari Job Title, Category or Location:</p>
				</li>
				<li>
					<div class="text-style-1">
						<input id="afterSearch" type="text" placeholder="Finance">
						<button><i class="fa fa-search color-ali"></i></button>
					</div>
				</li>
			</ul>

			<div class="search-resulted-par">
				<div class="row padding-top-25 hidden-xs hidden-sm">
					<div class="col-md-4">
						<p class="DINPro-Bold font-16 color-grey2">ROLE</p>
					</div>
					<div class="col-md-2">	
						<p class="DINPro-Bold font-16 color-grey2">LOCATION</p>
					</div>
					<div class="col-md-2">
						<p class="DINPro-Bold font-16 color-grey2">COMPANY</p>
					</div>
					<div class="col-md-2">
						<p class="DINPro-Bold font-16 color-grey2">DATE</p>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

				<div class="search-resulted padding-right-0">
					<div class="row">
						<div class="col-md-4">
							<p class="font-18 color-grey2">Accounting Reporting Manager</p>
							<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
						</div>
						<div class="col-md-2 tri-xs padding-left-xs-0">	
							<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
						</div>
						<div class="col-md-2 tri-xs">
							<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
						</div>
						<div class="col-md-2 tri-xs no-border">
							<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!--avrist-job-search-1-->