<!-- Avrist-faq-1 3 color {ali , agi , aam}-->
<section class="avrist-faq-1 ali">
	<div class="container">
		<div class="contPad">
			<p class="font-48 font-xs-30 color-faq-title margin-bottom-25 margin-bottom-xs-10">F . A . Q</p>
			
			<div class="row">

				<div class="col-md-6">

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq1" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq1" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq2" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq2" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq3" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq3" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

				</div>
				<div class="col-md-6">

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq4" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq4" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq5" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq5" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="panel-group">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" href="#faq6" class="action color-ali DINPro-Medium font-18">What is life insurance and why do I need it?</a>
					      </h4>
					    </div>
					    <div id="faq6" class="panel-collapse collapse">
					      <div class="panel-body color-grey font-14">
						      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
						      commodo consequat.</p>
					      </div>
					    </div>
					  </div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
<!--// Avrist-faq-1 3 color -->