<section class="avrist-banner-1-par avrist-banner-1 hasBackground" data-bg="./assets/images/banner-tentang.jpg">
	<img class="visible-xs visible-sm" src="./assets/images/banner-tentang-mobile.jpg">

	<div class="banner-title">
		<p class="font-21 DINPro-Medium color-grey-title">Tentang Avrist</p>
		<h1 class="color-ali font-48">Management</h1>
	</div>
	
	<div class="banner-1-tabs-par">
		<ul class="banner-1-tabs hidden-sm hidden-xs">
		  <li class="active"><a data-toggle="tab" href="#life">LIFE INSURANCE</a></li>
		  <li><a data-toggle="tab" href="#general">GENERAL INSURANCE</a></li>
		  <li><a data-toggle="tab" href="#assets">ASSETS MANAGEMENT</a></li>
		</ul>
	</div>

	<div id="tentang-select-1" class="select-tab visible-xs visible-sm">
		<p align="left" class="font-20 font-xs-16 color-grey margin-left-10 margin-bottom-0">Pilih Menu</p>
		<select id="tentangSelect">
			<option value="#life">LIFE INSURANCE</option>
			<option value="#general">GENERAL INSURANCE</option>
			<option value="#assets">ASSETS MANAGEMENT</option>
		</select>
	</div>
</section>