<!--Avrist-thumbnail-white-1-->
  <div class="avrist-thumbnail-white-1">
    <div class="container">
      <div class="contPad">
        <ul>
          <li class="margin-left-50 margin-left-xs-0">
            <p class="font-16 font-xs-12 DINPro-Bold color-grey-title margin-bottom-0">Avrist Life - Individu</p>
            <p class="font-48 font-xs-30 color-ali">Klaim</p>
            <p class="color-grey3 font-18 font-xs-14">Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibhaaaaa
            euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim.</p>
            <a href="#" class="btn-violet">Learn More</a>
          </li>
          <li class="margin-left-100 margin-left-xs-0">
            <p class="font-16 font-xs-12 DINPro-Bold color-grey-title margin-bottom-0">Avrist Life - Individu</p>
            <p class="font-48 font-xs-30 color-ali">Informasi</p>
            <p class="color-grey3 font-18 font-xs-14">Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibhaaaaa
            euismod tincidunt ut laoreet dolore magna
            aliquam erat volutpat. Ut wisi enim.</p>
            <a href="#" class="btn-violet">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--//Avrist-thumbnail-white-1-->