<!--avrist-info-2-->
<section class="avrist-info-2 padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
	<div class="container">
		<div class="contPad">
			<div class="row">
				<div class="col-md-2 col-xs-4 col-sm-4 padding-left-0">
					<a href="#"><img class="width-full" src="./assets/images/icon-pdf-bg.jpg"></a>
				</div>
				<div class="col-md-10 col-xs-8 col-sm-8 no-padding-xs">
					<div class="margin-top-40 margin-top-xs-0">
						<a href="#">
							<span class="font-24 font-xs-16 color-ali">ENDOSEMEN POLIS AVRIST ASSURANCE_POJK_Legal</span>
							<br><span class="font-14 font-xs-10 DINPro-Medium color-grey">PDF Files | 346 Kb</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--//avrist-info-2-->