<!--avrist-job-detail-1-->
<section class="avrist-job-detail-1">
	<div class="container">
		<div class="contPad">
			<div class="row border-bottom">
				<div class="col-md-5 left margin-bottom-xs-20 no-padding-xs">
					<p class="color-ali font-36 font-xs-26">Accounting Reporting Manager</p>
					<hr>
					<p class="font-14 DINPro-Medium color-grey">Finance</p>
					<div class="links">
						<a class="btn-violet font-xs-12">Join with Us Now</a>
						<a href="#"><img class="share" src="./assets/images/icon-share.png"></a>
					</div>
				</div>
				<div class="col-md-7 right no-padding-xs">
					<p class="font-34 font-xs-24 color-grey DINPro-Light">You are accountable for guiding the process of finance report, testing and delivering the overall solution.</p>
					<p class="font-18 font-xs-14 color-grey margin-bottom-20 DINPro-Light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna quam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in.</p>
					<p class="font-18 color-ali DINPro-Bold margin-bottom-5">Some key activities you will definitely add to your to do list:</p>
					<ul class="margin-left-20">
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
					</ul>
					<p class="font-18 color-ali DINPro-Bold margin-bottom-5">And some more bullets… What we’d like you to show:</p>
					<ul class="margin-left-20">
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam  nonummy nibh.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-18 font-xs-10 margin-bottom-xs-0">consequat. Duis autem vel eum iriure dolor in.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--avrist-job-search-1-->
	<div class="avrist-job-search-1 avrist-search-result">
		<div class="container">
			<div class="contPad">
				<p class="font-48 font-xs-30 color-ali">Lihat Opportunity Lainnya</p>

				<div class="search-resulted-par">
					<div class="row padding-top-25 hidden-xs hidden-sm">
						<div class="col-md-4">
							<p class="DINPro-Bold font-16 color-grey2">ROLE</p>
						</div>
						<div class="col-md-2">	
							<p class="DINPro-Bold font-16 color-grey2">LOCATION</p>
						</div>
						<div class="col-md-2">
							<p class="DINPro-Bold font-16 color-grey2">COMPANY</p>
						</div>
						<div class="col-md-2">
							<p class="DINPro-Bold font-16 color-grey2">DATE</p>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

					<div class="search-resulted padding-right-0">
						<div class="row">
							<div class="col-md-4">
								<p class="font-18 color-grey2">Accounting Reporting Manager</p>
								<a href="#" class="font-12 color-ali DINPro-Bold">Finance</a>
							</div>
							<div class="col-md-2 tri-xs padding-left-xs-0">	
								<p class="font-18 font-xs-12 color-grey2">Jakarta</p>
							</div>
							<div class="col-md-2 tri-xs">
								<p class="font-18 font-xs-12 color-grey2">Avrist Life</p>
							</div>
							<div class="col-md-2 tri-xs no-border">
								<p class="font-18 font-xs-12 color-grey2">13 Apr 2017</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--avrist-job-search-1-->
</section>
<!--avrist-job-detail-1-->