<!--avrist-info-3-->
<section class="avrist-info-3 padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
	<div class="container">
		<div class="contPad">
			<p class="font-36 font-xs-26 color-ali margin-bottom-25 margin-bottom-xs-10">Layanan Kepemilikan Polis</p>
			<p class="font-18 font-xs-12 color-grey margin-bottom-25 margin-bottom-xs-10">Avrist menyediakan layanan bagi pemilik polis, yaitu melalui bagian <span class="DINPro-Medium">POS (Policy Owner Service)</span>, <br class="hidden-xs">yang merespon berbagai kebutuhan terkait polis, seperti:</p>

			<div class="row margin-min-15">
				<div class="col-md-6">
					<ul>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan pemilik polis</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan data-data polis <br>(nama, alamat surat-menyurat, nomor telepon, email, dll)</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Pemulihan polis</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Permohonan polis duplikat</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Permohonan pinjaman</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Pernyataan/perubahan/pencabutan surat kuasa <br>pembayaran premi/pendebetan rekening</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan data kartu kredit <br>pembayaran dengan kartu kredit</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan yang ditunjuk</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Penambahan/pengurangan uang pertanggungan</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Penambahan/pengurangan kontrak tambahan</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan tanda tangan</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Pernyataan / keterangan kesehatan</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan pemilik polis</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan data-data polis <br>(nama, alamat surat-menyurat, nomor telepon, email, dll)</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Pemulihan polis</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Permohonan polis duplikat</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Permohonan pinjaman</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Pernyataan/perubahan/pencabutan surat kuasa <br>pembayaran premi/pendebetan rekening</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan data kartu kredit <br>pembayaran dengan kartu kredit</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Perubahan yang ditunjuk</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Penambahan/pengurangan uang pertanggungan</p>
						</li>
						<li class="color-ali">
							<p class="color-grey font-16 font-xs-14">Penambahan/pengurangan kontrak tambahan</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--avrist-info-3-->