  <!--Avrist-slider-3-->
  <section class="Avrist-banner-thumbnail-1 Avrist-slider-3">
    <div class="abt-2-bg hasBackground" data-bg="./assets/images/Avrist-slider-3-bg.jpg" data-bg-mobile="./assets/images/Avrist-slider-3-bg-mobile.png">
      <div class="container">
        <div class="contPad">
          <p class="color-ali font-48 margin-top-25 margin-top-xs-0 font-xs-30">Get all this benefits</p>
          <p class="color-grey font-18 padding-right-xs-50 font-xs-14">Not only to protect your lorem but also lorem ipsum dolor fectrum <br class="hidden-xs hidden-sm">processus dynamicus, qui sequitur consuetudium.</p>

          <div class="abt-2-slider">

            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Uang pertanggungan 100% <br>jika meninggal dunia</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>
            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Premi terjangkau, mulai dari <br>Rp 5.000 per hari</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>
            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Tiada masa tunggu <br>pengajuan asuransi</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>
            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Uang pertanggungan 100% <br>jika meninggal dunia</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>
            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Premi terjangkau, mulai dari <br>Rp 5.000 per hari</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>
            <div class="abts-box">
              <div>
                <p class="DINPro-Medium font-20 font-xs-16 color-ali">Tiada masa tunggu <br>pengajuan asuransi</p>
                <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//Avrist-slider-3 -->