<section class="avrist-banner-1-par avrist-banner-1 banner-3">
	
	<div class="container">
		<div class="bannerCount">

			<div class="banner-3-slider count" tab-slider="#Jiwa">
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content visible-xs visible-sm">
						<p class="color-ali DINPro-Bold font-18">Avrist Life Insurance</p>
						<p class="color-grey DINPro-Light font-28">Finally Life Insurance <br>Made Simple</p>
					</div>
				</div>
			</div>
			
			<div class="banner-3-slider count hidden" tab-slider="#solIndividu">
				<div>
					<img class="hidden-xs hidden-sm" src="./assets/images/banner-3-1.jpg">
					<img class="visible-xs visible-sm" src="./assets/images/banner-mobile-3-1.jpg">
					<div class="banner-content visible-xs visible-sm">
						<p class="color-ali DINPro-Bold font-18">Avrist Life Insurance</p>
						<p class="color-grey DINPro-Light font-28">Finally Life Insurance <br>Made Simple</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="banner-1-tabs-par banner-3-tabs slider-trigger hidden">
		<ul class="banner-1-tabs hidden-sm hidden-xs">
		  <li class="active"><a data-toggle="tab" href="#Jiwa">SOLUSI INDIVIDU</a></li>
		  <li><a data-toggle="tab" href="#solIndividu">SOLUSI BISNIS</a></li>
		</ul>
	</div>

	<div class="ban4-link select-tab">
		<p align="left" class="font-20 color-grey margin-bottom-0 visible-sm visible-xs">Pilih Kategori Produk</p>
		<select id="tentangSelect" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
			<option value="#Jiwa">Jiwa</option>
			<option value="#solIndividu">Avrist Life</option>
		</select>
	</div>

</section>