<!--avrist-faq-2-->
<div class="avrist-faq-2">
	<div class="container">
		<div class="contPad">
			<div class="row">
				<div class="col-md-6 text-center left hasBackground" data-bg="./assets/images/circle-faq-2-bg.png">
					<div class="big-circle text-left">
					    <img class="hidden-xs hidden-sm" src="./assets/images/big-circle-violet.png">
					    <div class="circle-link">
					        <p class="DINPro-Bold color-circle-title font-18 font-xs-16 color-a4-xs">SERVICES</p>
					        <p class="color-white DINPro-Light font-26 font-xs-22 color-grey-xs">See what we can help <br class="visible-xs visible-sm">you with...</p>
					        <hr>
					        <ul>
					            <li>
					                <a class="DINPro-Medium" href="#">Jiwa</a>
					            </li>
					            <li>
					                <a class="DINPro-Medium" href="#">Kesehatan</a>
					            </li>
					            <li>
					                <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
					            </li>
					            <li>
					                <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
					            </li>
					            <li>
					                <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
					            </li>
					        </ul>
					    </div>
					</div>
				</div>
				<div class="col-md-6 right">
					<form method="" action="" class="ask-question">
						<p class="font-48 font-xs-30 color-ali">Still have a question?</p>
						<p class="font-18 font-xs-14 color-grey3 DINPro-Medium">Let one of our experts help you.</p>

						<div class="form">
							<p class="font-14 color-ali DINPro-Bold">Your Question</p>
							<input type="text" placeholder="type your question">
						</div>

						<div class="form">
							<p class="font-14 color-ali DINPro-Bold">Your Question</p>
							<input type="email" placeholder="your email">
						</div>
						
						<div class="submit margin-top-xs-40">
							<button type="submit" class="btn-violet">Ask a Question</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--avrist-faq-2-->