<div class="avrist-thumbnail-1 avrist-thumbnail-2 margin-bottom-25 margin-bottom-xs-0">
  <div class="container">
    <div class="contPad">
      <div class="row">

        <!--1-->
        <div class="col-md-6 height bobotom">
            <img class="width-full" src="./assets/images/produk-landing-1.jpg">
            <div class="description">
              <p class="DINPro-Bold font-14 font-xs-12 color-grey3">Avrist Life - Individu</p>
              <p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
              <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing <br>elit, sed diam nonummy nibhaaa she is.</p>
              <ul class="list-link">
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
              </ul>
            </div>
        </div>
        <!--//1-->
        
         <!--2-->
        <div class="col-md-6 height bobotom">
            <img class="width-full" src="./assets/images/produk-landing-1.jpg">
            <div class="description">
              <p class="DINPro-Bold font-14 font-xs-12 color-grey">Avrist Life - Individu</p>
              <p class="font-36 font-xs-24 color-ali margin-bottom-20">Avrist Basic Guard</p>
              <p class="font-14 font-xs-12 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing <br>elit, sed diam nonummy nibhaaa she is.</p>
              <ul class="list-link">
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/critical-ilness.png">Critical Ilness</a></li>
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/dental.png">Dental</a></li>
                <li><a href="#" class="DINPro-Bold font-14 font-xs-10 color-ali"><img src="./assets/images/exam.png">Lorem Ipsum</a></li>
              </ul>
            </div>
        </div>
        <!--//2-->

      </div>

    </div>
  </div>
</div>