<!--avrist-pick-office-->
<section class="avrist-pick-office">
    <!--Avrist-search-faq-1-->
    <div class="avrist-search-faq-1">
        <div class="container">
            <div class="contPad">
                <p class="font-48 font-xs-30 color-ali">Management Office</p>
                <p class="font-18 font-xs-14 color-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br>nibhaaaaa euismod tincidunt ut laoreet dolore magna</p>
                <form method="" action="">
                    <ul>
                        <li class="left">
                            <p class="font-18 font-xs-12 color-grey">Pilih Kota :</p>
                        </li>
                        <li class="right">
                            <div class="faq-search">
                                <input type="text" placeholder="DKI Jakarta">
                                <button type="submit"><img src="./assets/images/icon-search.png"></button>
                            </div>
                        </li>
                    </ul>
                </form>

                <div class="topics">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="topic-box">
                                <p class="font-24 color-ali DINPro-Medium">PT Avrist Assurance <br>(Management office)</p>
                                <p class="font-14 color-grey DINPro-Medium lh-1-5"><span class="bold">World Trade Centre II, Lt. 8 <br>Jl. Jenderal Sudirman Kav 29-31</span>
                                <br>Call Center : +62 21 5789 8188
                                <br>Fax : +62 21 572 1308
                                <br>Email : customer-service@avrist.com</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="topic-box">
                                <p class="font-24 color-agi DINPro-Medium">PT Avrist Assurance <br>(Management office)</p>
                                <p class="font-14 color-grey DINPro-Medium lh-1-5"><span class="bold">World Trade Centre II, Lt. 8 <br>Jl. Jenderal Sudirman Kav 29-31</span>
                                <br>Call Center : +62 21 5789 8188
                                <br>Fax : +62 21 572 1308
                                <br>Email : customer-service@avrist.com</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="topic-box">
                                <p class="font-24 color-aam DINPro-Medium">PT Avrist Assurance <br>(Management office)</p>
                                <p class="font-14 color-grey DINPro-Medium lh-1-5"><span class="bold">World Trade Centre II, Lt. 8 <br>Jl. Jenderal Sudirman Kav 29-31</span>
                                <br>Call Center : +62 21 5789 8188
                                <br>Fax : +62 21 572 1308
                                <br>Email : customer-service@avrist.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Avrist-search-faq-1-->
</section>
<!--avrist-pick-office-->