<div class="avrist-simulasi-produk-1 hasBackground" data-bg="./assets/images/simulasi-bg.jpg">
	<img class="visible-xs visible-sm width-full" src="./assets/images/simulasi-bg-mobile.jpg">
	<div class="container">
		<div class="contPad text-center">
			<div class="middle">
				<p class="color-white font-36 font-xs-28">Simulasi Produk</p>
				<p class="color-white font-18 font-xs-14 margin-bottom-25">Lorem ipsum dolor sit mulai dari <br class="visible-xs visible-sm"><span class="bold font-20 font-xs-18">Rp 5000 / hari,</span> <br class="visible-xs visible-sm">consectetuer adipiscing elitadf.</p>
				<a class="btn-white-o">Click Here</a>
			</div>
		</div>
	</div>
</div>