<!--avrist-years-1-->
<section class="avrist-years-1">
			<div class="ay1-slider">
				<div class="ay1-par">
					<div class="ay1-box">
						<p class="font-48 font-xs-30" data-onchange="#2011">2011</p>
					</div>
				</div>
				<div class="ay1-par">
					<div class="ay1-box">
						<p class="font-48 font-xs-30" data-onchange="#2010">2010</p>
					</div>
				</div>
				<div class="ay1-par">
					<div class="ay1-box">
						<p class="font-48 font-xs-30" data-onchange="#2009">2009</p>
					</div>
				</div>
				<div class="ay1-par">
					<div class="ay1-box">
						<p class="font-48 font-xs-30" data-onchange="#2008">2008</p>
					</div>
				</div>
				<div class="ay1-par">
					<div class="ay1-box">
						<p class="font-48 font-xs-30" data-onchange="#2007">2007</p>
					</div>
				</div>
			</div>

			<div class="ay1-slider-content padding-top-10 padding-bottom-10 padding-right-xs-10 padding-left-xs-10">
				<div id='2011' class="content text-center">
					<p class="font-18 font-xs-16 DINPro-Bold color-ali">Meraih penghargaan <br class="visible-xs">Manajemen Risiko Terbaik</p>
					<p class="font-16 font-xs-14 color-grey lh-1-5">Beraset lebih dari 100 milyar pada Islamic Finance Awards 2011 <br class="hidden-xs">Peringat Terbaik ke-2 Perusahaan Asuransi Jiwa (pilihan Broker) <br class="hidden-xs">pada ABAI Awards 2011</p>
				</div>
				<div id='2010' class="content hidden text-center">
					<p class="font-18 font-xs-16 DINPro-Bold color-ali">Meraih penghargaan <br class="visible-xs">Manajemen Risiko Terbaik</p>
					<p class="font-16 font-xs-14 color-grey lh-1-5">Beraset lebih dari 100 milyar pada Islamic Finance Awards 2010 <br class="hidden-xs">Peringat Terbaik ke-2 Perusahaan Asuransi Jiwa (pilihan Broker) <br class="hidden-xs">pada ABAI Awards 2011</p>
				</div>
				<div id='2009' class="content hidden text-center">
					<p class="font-18 font-xs-16 DINPro-Bold color-ali">Meraih penghargaan <br class="visible-xs">Manajemen Risiko Terbaik</p>
					<p class="font-16 font-xs-14 color-grey lh-1-5">Beraset lebih dari 100 milyar pada Islamic Finance Awards 2009 <br class="hidden-xs">Peringat Terbaik ke-2 Perusahaan Asuransi Jiwa (pilihan Broker) <br class="hidden-xs">pada ABAI Awards 2011</p>
				</div>
				<div id='2008' class="content hidden text-center">
					<p class="font-18 font-xs-16 DINPro-Bold color-ali">Meraih penghargaan <br class="visible-xs">Manajemen Risiko Terbaik</p>
					<p class="font-16 font-xs-14 color-grey lh-1-5">Beraset lebih dari 100 milyar pada Islamic Finance Awards 2008 <br class="hidden-xs">Peringat Terbaik ke-2 Perusahaan Asuransi Jiwa (pilihan Broker) <br class="hidden-xs">pada ABAI Awards 2011</p>
				</div>
				<div id='2007' class="content hidden text-center">
					<p class="font-18 font-xs-16 DINPro-Bold color-ali">Meraih penghargaan <br class="visible-xs">Manajemen Risiko Terbaik</p>
					<p class="font-16 font-xs-14 color-grey lh-1-5">Beraset lebih dari 100 milyar pada Islamic Finance Awards 2007 <br class="hidden-xs">Peringat Terbaik ke-2 Perusahaan Asuransi Jiwa (pilihan Broker) <br class="hidden-xs">pada ABAI Awards 2011</p>
				</div>
			</div>
</section>
<!--avrist-years-1-->