<!--Avrist-slider-because-1-->
<section class="Avrist-slider-because-1">
	<div class="container">
		<div class="contPad">
			<ul class="ul-par">
				<li><p class="font-48 font-xs-30 color-because1 margin-bottom-xs-10">Because</p></li>
				<li>
					<div class="asb-slider">
						<div>
							<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
						</div>
						<div>
							<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
						</div>
						<div>
							<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!--//Avrist-slider-because-1-->