<!---Avrist-contact-form-1-->
<section class="avrist-contact-form-1">
    <div class="container">
        <div class="contPad">
            <form method="" action="">
                <div class="row">
                    <div class="col-md-6 left">
                        <p class="font-48 font-xs-30 color-ali margin-bottom-20">Layanan Avrist</p>
                        <p class="font-18 font-xs-14 color-grey margin-bottom-20">We are committed to make a pleasant experience. <br>As such we always welcome your enquries, <br>feedback and suggestions.</p>
                        <div class="select-style-1 margin-bottom-20">
                            <span class="font-14 color-ali DINPro-Bold margin-left-10">Choose Topic</span>
                            <select id="topic" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                <option value="v1">Complaint</option>
                                <option value="v2">Complaint2</option>
                                <option value="v3">Complaint3</option>
                            </select>
                        </div>

                        <div class="time">
                            <p class="font-14 color-ali DINPro-Bold margin-left-10">Preferable Time of Reach</p>
                            <ul>
                                <li>
                                    <span class="tick-violet">
                                        <input type="radio" name="genre" checked="checked" id="time1" value=" " />
                                    </span>
                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">8 am - 12 am</label>
                                </li>
                                <li>
                                    <span class="tick-violet">
                                        <input type="radio" name="genre" id="time2" value=" " />
                                    </span>
                                    <label class="font-16 font-xs-12 color-grey" title="Unchecked state" for="tim2">1 pm - 3 pm</label>
                                </li>
                                <li>
                                    <span class="tick-violet">
                                        <input type="radio" name="genre" id="time2" value=" " />
                                    </span>
                                    <label class="font-16 font-xs-12 color-grey" title="Unchecked state" for="tim2">5 pm - 7 pm</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <ul class="margin-top-10">
                            <li>
                                <div class="text-style-1 margin-bottom-20">
                                    <p class="font-14 color-ali DINPro-Bold margin-left-10">Your Name</p>
                                    <input type="text" placeholder="type your name">
                                </div>
                            </li>
                            <li>
                                <div class="text-style-1 margin-bottom-20">
                                    <p class="font-14 color-ali DINPro-Bold margin-left-10">Your Email</p>
                                    <input type="email" placeholder="type your Email">
                                </div>
                            </li>
                            <li>
                                <div class="text-style-1 margin-bottom-20">
                                    <p class="font-14 color-ali DINPro-Bold margin-left-10">Your No. Telp</p>
                                    <input type="text" placeholder="type your phone number">
                                </div>
                            </li>
                            <li>
                                <div class="text-style-1 margin-bottom-20">
                                    <p class="font-14 color-ali DINPro-Bold margin-left-10">Message</p>
                                    <input type="text" placeholder="type your Message">
                                </div>
                            </li>
                        </ul>

                        <div class="submit">
                            <button class="btn-violet">Hubungi Saya</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!---//Avrist-contact-form-1-->