<!--avrist-visi-misi-->
<section class="Avrist-slider-because-1 avrist-visi-misi">
	<div class="container">
		<div class="contPad">
			<div class="asb-par">
				<ul class="ul-par">
					<li><p class="font-48 font-xs-30 color-because1 margin-bottom-xs-10">Visi</p></li>
					<li>
						<div class="asb-slider-2">
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">Satu polis Avrist untuk setiap rumah tangga di Indonesia</p>
							</div>
						</div>
					</li>
				</ul>

	            <div class="pagination">
		          	<ul>
		          		<li class="left font-26 font-xs-20"><span class="bold color-ali">3</span></li>
		          		<li>&nbsp;/&nbsp;</li>
		          		<li class="right font-26 font-xs-20"><span>8</span></li>
		          	</ul>
	            </div>
			</div>

			<div class="asb-par">
				<ul class="ul-par">
					<li><p class="font-48 font-xs-30 color-because1 margin-bottom-xs-10">Misi</p></li>
					<li>
						<div class="asb-slider-3">
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">Merangkul dan meneladani semangat kepeloporan yang menjadi bagian dari sejarah kami yang besar</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
							<div class="index">
								<p class="color-ali font-32 font-xs-18 DINPro-Light">We believe that our customers deserve the support to understand and make that investment.</p>
							</div>
						</div>
					</li>
				</ul>

	            <div class="pagination">
		          	<ul>
		          		<li class="left font-26 font-xs-20"><span class="bold color-ali">3</span></li>
		          		<li>&nbsp;/&nbsp;</li>
		          		<li class="right font-26 font-xs-20"><span>8</span></li>
		          	</ul>
	            </div>
			</div>


		</div>
	</div>
</section>
<!--avrist-visi-misi-->