<!--avrist-info-1-->
<div class="container padding-top-20 padding-bottom-20 padding-top-xs-10 padding-bottom-xs-10">
  <div class="contPad">
    <p class="font-48 font-xs-30 color-ali">Berkarir Bersama Avrist</p>
    <p class="color-grey font-18 font-xs-14 lh-1-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
    <br class="hidden-xs">tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    <br class="hidden-xs">quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea</p>
  </div>
</div>
<!--//avrist-info-1-->