<!--avrist-news-1-->
<section class="avrist-news-1">
  <div class="container">
    <div class="contPad">

      <div class="nt-desktop">
        <div class="row">
          <div class="col-md-10 no-padding">
            <ul class="filter">
              <li class="active">
                <a href="#">All</a>
              </li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
              <li>
                <a href="#">Buletin Nasabah</a>
              </li>
              <li>
                <a href="#">Press Release</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 no-padding">
            <div class="text-style-1">
              <input type="text" placeholder="Cari">
              <button class="searchNews"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="nt-mobile">
        <ul class="ft-mbl">
          <li>
            <div class="select-style-1">
              <p class="font-12 color-grey margin-left-10">Pilih Filter</p>
              <select id="filter-mobile" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                <option value="all">All</option>
                <option value="News">News</option>
                <option value="Events">Events</option>
                <option value="BuletinNasabah">Buletin Nasabah</option>
                <option value="PressRelease">Press Release</option>
              </select>
            </div>
          </li>
          <li>
            <button class="searchNewsMobile"><i class="fa fa-search"></i></button>
          </li>
        </ul>
      </div>

      <div class="news-contents margin-top-25 margin-top-xs-15">

        <div class="row">
          <div class="col-md-6 cont-box image">
            <img src="./assets/images/news-image-1.jpg" class="width-full">
            <div class="box-gradient"></div>
          </div>
          <div class="col-md-6 cont-box text">
            <p class="font-14 color-grey DINPro-Bold margin-top-20">News</p>
            <p class="color-ali font-36 font-xs-24">Prestasi Avrist Life</p>
            <p class="color-grey font-14">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliqu volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
            </p>

            <p class="date font-18 color-grey2">19 / 01 / 2016</p>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6 cont-box image pullRight">
            <img src="./assets/images/news-image-1.jpg" class="width-full">
            <div class="box-gradient"></div>
          </div>
          <div class="col-md-6 cont-box text pullLeft">
            <p class="font-14 color-grey DINPro-Bold margin-top-20">News</p>
            <p class="color-ali font-36 font-xs-24">Prestasi Avrist Life</p>
            <p class="color-grey font-14">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliqu volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
            </p>

            <p class="date font-18 color-grey2">19 / 01 / 2016</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 cont-box image">
            <img src="./assets/images/news-image-1.jpg" class="width-full">
            <div class="box-gradient"></div>
          </div>
          <div class="col-md-6 cont-box text">
            <p class="font-14 color-grey DINPro-Bold margin-top-20">News</p>
            <p class="color-ali font-36 font-xs-24">Prestasi Avrist Life</p>
            <p class="color-grey font-14">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliqu volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
            </p>

            <p class="date font-18 color-grey2">19 / 01 / 2016</p>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6 cont-box image pullRight">
            <img src="./assets/images/news-image-1.jpg" class="width-full">
            <div class="box-gradient"></div>
          </div>
          <div class="col-md-6 cont-box text pullLeft">
            <p class="font-14 color-grey DINPro-Bold margin-top-20">News</p>
            <p class="color-ali font-36 font-xs-24">Prestasi Avrist Life</p>
            <p class="color-grey font-14">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliqu volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
            </p>

            <p class="date font-18 color-grey2">19 / 01 / 2016</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 cont-box image">
            <img src="./assets/images/news-image-1.jpg" class="width-full">
            <div class="box-gradient"></div>
          </div>
          <div class="col-md-6 cont-box text">
            <p class="font-14 color-grey DINPro-Bold margin-top-20">News</p>
            <p class="color-ali font-36 font-xs-24">Prestasi Avrist Life</p>
            <p class="color-grey font-14">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliqu volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.
            </p>

            <p class="date font-18 color-grey2">19 / 01 / 2016</p>
          </div>
        </div>

      </div>

      <div class="news-pagination">
        <ul>
          <li class="active">
            <a href="#" class="font-21 font-xs-12">1</a>
          </li>
          <li>
            <a href="#" class="font-21 font-xs-12">2</a>
          </li>
          <li>
            <a href="#" class="font-21 font-xs-12">3</a>
          </li>
          <li>
            <a href="#" class="font-21 font-xs-12">4</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!--//avrist-news-1-->