<section>
    
    <div class="avrist-banner-2">
        <div class="tab-content">
          <div id="individu" class="tab-pane fade in active hasBackground" data-bg="./assets/images/banner-2-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-mobile-2-1.png">
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">INDIVIDU</p>
                            <p class="color-white DINPro-Light font-26">Saya ingin mendapatkan perlindungan...</p>
                            <hr>
                            <ul>
                                <li>
                                    <a class="DINPro-Medium" href="#">Jiwa</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Kesehatan</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>
          <div id="business" class="tab-pane fade hasBackground" data-bg="./assets/images/banner-2-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-mobile-2-1.png">
                
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">BUSINESS</p>
                            <p class="color-white DINPro-Light font-26">Saya ingin mendapatkan perlindungan...</p>
                            <hr>
                            <ul>
                                <li>
                                    <a class="DINPro-Medium" href="#">Jiwa</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Kesehatan</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

          </div>
          <div id="family" class="tab-pane fade hasBackground" data-bg="./assets/images/banner-2-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-mobile-2-1.png">
                
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">FAMILY</p>
                            <p class="color-white DINPro-Light font-26">Saya ingin mendapatkan perlindungan...</p>
                            <hr>
                            <ul>
                                <li>
                                    <a class="DINPro-Medium" href="#">Jiwa</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Kesehatan</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

          </div>
          <div id="retiree" class="tab-pane fade hasBackground" data-bg="./assets/images/banner-2-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-mobile-2-1.png">
                
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">RETIREE</p>
                            <p class="color-white DINPro-Light font-26">Saya ingin mendapatkan perlindungan...</p>
                            <hr>
                            <ul>
                                <li>
                                    <a class="DINPro-Medium" href="#">Jiwa</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Kesehatan</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

          </div>
          <div id="avrist-customer" class="tab-pane fade hasBackground" data-bg="./assets/images/banner-2-1.png">
                <img class="visible-xs visible-sm" src="./assets/images/banner-mobile-2-1.png">
                
                <div class="container hidden-sm hidden-xs">
                    <div class="big-circle">
                        <img src="./assets/images/big-circle-violet.png">
                        <div class="circle-link">
                            <p class="DINPro-Bold color-circle-title font-18">AVRIST CUSTOMER</p>
                            <p class="color-white DINPro-Light font-26">Saya ingin mendapatkan perlindungan...</p>
                            <hr>
                            <ul>
                                <li>
                                    <a class="DINPro-Medium" href="#">Jiwa</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Kesehatan</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Penyakit Kronis</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Asuransi Sharia</a>
                                </li>
                                <li>
                                    <a class="DINPro-Medium" href="#">Tabungan dan Investasi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

          </div>
        </div>

        <div class="container banner-par text-center">

            <ul class="banner-2-tabs">
              <li class="active">
                <a data-toggle="tab" href="#individu" mobile-target="#m-individu">
                    <span class="picture">
                        <img src="./assets/images/person-individu.png">
                    </span>
                    <span class="color-ali DINPro-Bold">INDIVIDU</span>
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#business" mobile-target="#m-business">
                    <span class="picture">
                        <img src="./assets/images/person-business.png">
                    </span>
                    <span class="color-ali DINPro-Bold">BUSINESS</span>
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#family" mobile-target="#m-family">
                    <span class="picture">
                        <img src="./assets/images/person-family.png">
                    </span>
                    <span class="color-ali DINPro-Bold">FAMILY</span>
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#retiree" mobile-target="#m-retiree">
                    <span class="picture">
                        <img src="./assets/images/person-retiree.png">
                    </span>
                    <span class="color-ali DINPro-Bold">RETIREE</span>
                </a>
              </li>
              <li>
                <a data-toggle="tab" href="#avrist-customer" mobile-target="#m-customer">
                    <span class="picture">
                        <img src="./assets/images/person-customer.png">
                    </span>
                    <span class="color-ali DINPro-Bold">AVRIST CUSTOMER</span>
                </a>
              </li>
            </ul>

        </div>
    </div>

    <div class="mobile-tab-circle visible-xs visible-sm padding-top-20">
        <div id="m-individu" class="fade active">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">INDIVIDU</p>
                <p class="color-grey DINPro-Light font-26">Saya ingin mendapatkan <br>perlindungan...</p>
                <hr>
                <ul>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Jiwa</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Kesehatan</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Penyakit Kronis</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Asuransi Sharia</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Tabungan dan Investasi</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
        <div id="m-business" class="fade">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">BUSINESS</p>
                <p class="color-grey DINPro-Light font-26">Saya ingin mendapatkan <br>perlindungan...</p>
                <hr>
                <ul>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Jiwa</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Kesehatan</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Penyakit Kronis</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Asuransi Sharia</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Tabungan dan Investasi</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
        <div id="m-family" class="fade">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">FAMILY</p>
                <p class="color-grey DINPro-Light font-26">Saya ingin mendapatkan <br>perlindungan...</p>
                <hr>
                <ul>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Jiwa</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Kesehatan</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Penyakit Kronis</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Asuransi Sharia</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Tabungan dan Investasi</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
        <div id="m-retiree" class="fade">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">RETIREE</p>
                <p class="color-grey DINPro-Light font-26">Saya ingin mendapatkan <br>perlindungan...</p>
                <hr>
                <ul>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Jiwa</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Kesehatan</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Penyakit Kronis</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Asuransi Sharia</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Tabungan dan Investasi</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
        <div id="m-customer" class="fade">
            <div class="circle-link">
                <p class="DINPro-Bold color-grey2 font-18">AVRIST CUSTOMER</p>
                <p class="color-grey DINPro-Light font-26">Saya ingin mendapatkan <br>perlindungan...</p>
                <hr>
                <ul>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Jiwa</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Kesehatan</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Penyakit Kronis</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Asuransi Sharia</a>
                    </li>
                    <li>
                        <a class="DINPro-Medium color-ali" href="#">Tabungan dan Investasi</a>
                    </li>
                </ul>

                <a class="scroll-down" href="#">
                    <img src="./assets/images/scroll-down.png">
                </a>
            </div>
        </div>
    </div>

</section>