 <!--Avrist-thumbnail-white-2-->
  <div class="avrist-thumbnail-white-2 margin-top-25 margin-bottom-25">
    <div class="container">
      <div class="contPad">
        <div class="row">
          <div class="col-md-8 padding-left-0 no-padding-xs">
            <p class="font-48 font-xs-30 color-ali">About Avrist Life</p>
            <p class="font-18 font-xs-14 color-grey3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br class="hidden-xs hidden-sm">nibhaaaaa euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
          </div>
          <div class="col-md-4 text-center text-left-xs no-padding-xs">
            <a class="btn-violet margin-top-90 margin-top-xs-25">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//Avrist-thumbnail-white-2-->