<div class="compare-product">
	<div class="container">
		<div class="contPad">
			<div class="title">
				<p class="color-ali font-36 font-xs-24">Bandingkan Produk</p>
			</div>

			<form method="" class="hidden-xs hidden-sm">
				<ul class="list-compare">
					<li>
						<p class="color-ali font-14 DINPro-Bold">Produk 1</p>
						<span class="select-style-1">
							<select id="produk1" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
								<option>Pilih Produk</option>
							</select>
						</span>
					</li>
					<li>
						<p class="color-ali font-14 DINPro-Bold">Produk 2</p>
						<span class="select-style-1">
							<select id="produk1" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
								<option>Pilih Produk</option>
							</select>
						</span>
					</li>
					<li>
						<p class="color-ali font-14 DINPro-Bold">Produk 3</p>
						<span class="select-style-1">
							<select id="produk1" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
								<option>Pilih Produk</option>
							</select>
						</span>
					</li>
					<li>
						<button class="btn-violet margin-left-20">Bandingkan</button>
					</li>
				</ul>
			</form>

			<a href="#" class="btn-violet visible-xs visible-sm visible-inbl">Bandingkan</a>

		</div>
	</div>
</div>