<!--Invest-plan-->
<section class="invest-plan">
	<div class="container">
		<div class="contPad">
			<ul class="plan-list">
				<li class="left">
					<span class="select-plan">
						<select id="planInvest" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
							<option value="#plan-slider-1">Rencana Investasi</option>
							<option value="#plan-slider-2">Option 1</option>
						</select>
					</span>
				</li>
				<li class="right">
					<div class="sliderWrapper">

						<div id="plan-slider-1" class="planSlider">

							<div>
								<ul>
									<li>
										<p class="font-14 DINPro-Bold color-ali margin-bottom-xs-10">Avrist Equity - Cross Sectoral</p>
									</li>
									<li class="before">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="after">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="status">
										<p class="font-14 color-green-plan DINPro-Bold"><img src="./assets/images/plan-up.png"> 0.17</p>
									</li>	
								</ul>
							</div>

							<div>
								<ul>
									<li>
										<p class="font-14 DINPro-Bold color-ali margin-bottom-xs-10">Avrist Equity - Cross Sectoral</p>
									</li>
									<li class="before">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="after">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="status">
										<p class="font-14 color-green-plan DINPro-Bold"><img src="./assets/images/plan-up.png"> 0.17</p>
									</li>	
								</ul>
							</div>

						</div>


						<div id="plan-slider-2" class="planSlider hidden">

							<div>
								<ul>
									<li>
										<p class="font-14 DINPro-Bold color-ali margin-bottom-xs-10">Avrist Equity - Cross Sectoral</p>
									</li>
									<li class="before">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="after">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="status">
										<p class="font-14 color-green-plan DINPro-Bold"><img src="./assets/images/plan-up.png"> 0.17</p>
									</li>	
								</ul>
							</div>

							<div>
								<ul>
									<li>
										<p class="font-14 DINPro-Bold color-ali margin-bottom-xs-10">Avrist Equity - Cross Sectoral</p>
									</li>
									<li class="before">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="after">
										<p class="font-10">27/09/2016</p>
										<p class="font-24 font-xs-18">1,264.72</p>
									</li>
									<li class="status">
										<p class="font-14 color-green-plan DINPro-Bold"><img src="./assets/images/plan-up.png"> 0.17</p>
									</li>	
								</ul>
							</div>

						</div>

					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!--//Invest-plan-->