<!--pick-product-->
<section class="pick-product">
	<div class="container">
		<div class="contPad">
			<div class="pick-title">
				<p class="color-grey font-28 font-xs-18">Bingung <span class="color-ali">produk asuransi</span> apa yang <br>paling sesuai untuk Anda?</p>
				<p class="rightBot font-16">Coba <span class="color-ali"><a class="color-ali" href="#">Avrist Solution Finder</a></span> <span class="hidden-xs hidden-sm">di bawah</span> <a class="btn-cr-right" href="#"></a></p>
			</div>
			<form class="form-pick-product hidden-xs hidden-sm">
					<ul>
						<li>Saya,</li>
						<li>
							<span class="male">
								<input type="radio" name="genre" checked="checked" id="male" value="male" />
							</span>
							<span class="female">
								<input type="radio" name="genre" id="female" value="female" />
							</span>
						</li>
						<li>berusia</li>
						<li>
							<span class="age">
								<select id="age" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
									<option value="v1">21 Tahun</option>
									<option value="v2">22 Tahun</option>
									<option value="v3">23 Tahun</option>
								</select>
							</span>
						</li>
						<li>Saya Mencari</li>
						<li>
							<span class="form-select">
								<select id="product" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
									<option value="v1">Proteksi Kesehatan</option>
									<option value="v2">Option 1</option>
									<option value="v3">Option 2</option>
								</select>
							</span>
						</li>
						<li>untuk</li>
						<li>
							<span class="form-select">
								<select id="person" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
									<option value="v1">Saya &amp; Pasangan</option>
									<option value="v2">Option 1</option>
									<option value="v3">Option 2</option>
								</select>
							</span>
						</li>
						<li>
							<button class="submit" type="submit" value="Submit"><i class="fa fa-chevron-right"></i></button>
						</li>
					</ul>
			</form>
		</div>
	</div>
</section>
<!--//pick-product-->