<!--simulasi-produk-2-->
<div class="simulasi-produk-2">
	<div class="container">
		<div class="contPad">
			<div class="sp2-box">
				<h3>Simulasi Produk</h3>

				<div class="row">
					<div class="col-md-8 left">
						<p>Dana Investasi Bulanan</p>
					</div>
					<div class="col-md-4 right">
						<div class="right-cell invest">
							<span class="tagRp">Rp</span>
							<input class="formatCur" type="text" value="10000000">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 left">
						<p>Tingkat Suku Bunga / Tahun</p>
					</div>
					<div class="col-md-4 right">
						<div class="right-cell interest">
							<input class="formatCur" type="text" value="10">
							<span class="tagPercent">%</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 left">
						<p>Jangka Waktu</p>
					</div>
					<div class="col-md-4 right">
						<div class="right-cell time">
							<input type="text" value="10">
							<span class="tagYears">Tahun</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 left">
						<p>Nilai Uang di Masa Sekarang</p>
						<div class="sp2-result">
							<span class="tagRp">Rp </span>
							<span class="number">61,445,671.06</span>
						</div>
					</div>
					<div class="col-md-5 right">
						<div class="btnPar">
							<button class="btn-violet hitung">
								Hitung
							</button>
							<button class="refresh"><i class="fa fa-repeat"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--simulasi-produk-2-->