 <!---Avrist-contact-form-1-->
<section class="solution-finder">

	<div class="container">
		<div class="contPad">
			<div class="row">
				<div class="col-md-6 hidden-xs">
					<div class="left-img">
						<img src="assets/images/solution-1.jpg" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="solution-form">
						<div class="row margin-bottom-40">
							<div class="col-md-12">
								<div class="step-navigate"></div>
							</div>
						</div>

						<div class="solution-form-slide">
							
							<!-- STEP 1 -->
							<div id="step-1" data-image="assets/images/solution-1.jpg">
								<div class="row">
									<div class="col-md-12 step-title">
										<small>Step 01</small>
										<h3>Life Insurance</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Nama Anda</label>
			                                <div class="input-field">
			                                	<input type="text" placeholder="type your name">
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Umur</label>
			                                <div class="input-field DINPro-Medium">
			                                	<input type="text" class="width-50" placeholder="-">
			                                	Tahun
			                                </div>
			                            </div>
									</div>
									<div class="col-md-6">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Gender</label>
			                                <div class="input-field padding-top-5 padding-bottom-5 text-center">
			                                	<span class="tick-violet gender male">
			                                        <input type="radio" name="gender" checked="checked" value="male" />
			                                    </span>
			                                    <span class="tick-violet gender female">
			                                        <input type="radio" name="gender" checked="checked" value="female" />
			                                    </span>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah sudah bekerja</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="employee" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="employee" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 no-padding margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Bekerja sebagai</label>
			                                <div class="input-field">
			                                	<select id="work-position" name="work-position" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
					                                <option hidden>Choose</option>
					                                <option>Karyawan Swasta</option>
					                                <option>Pegawai Negri Sipil</option>
					                            </select>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 no-padding margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Penghasilan per tahun</label>
			                                <div class="input-field">
			                                	<select id="salary-rate" name="salary-rate" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
					                                <option hidden>Choose</option>
					                                <option>< 50.000.000</option>
					                                <option>> 50.000.000</option>
					                            </select>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row margin-top-50">
									<div class="col-md-12 button-style-1 text-right">							
										<button class="submit solution-next" type="button" value="Submit">LANJUTKAN <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<!-- STEP 1 -->
							
							<!-- STEP 2 -->
							<div id="step-2" data-image="assets/images/solution-2.jpg">
								<div class="row">
									<div class="col-md-12 step-title">
										<small>Step 02</small>
										<h3>Life Question</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Sudah mempunyai anak</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="children" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="children" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai tanggungan lain</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="tanggungan" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="tanggungan" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai Asurasi Kesehatan</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="health-insurance" checked="checked" data-list="health-opt" value="ya" />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="health-insurance" data-list="health-opt" value="tidak" />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
			                            <div id="health-opt" class="form-hidden active">
			                            	<ul>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">BPJS</label>
			                            		</li>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Lorem Ipsum</label>
			                            		</li>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Dolor Sit amet</label>
			                            		</li>
			                            	</ul>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai Asurasi Jiwa</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="life-insurance" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="life-insurance" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai Asurasi Kecelakaan</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="accident-insurance" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="accident-insurance" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state" for="tim1">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row margin-top-50">
									<div class="col-md-12 button-style-1 text-right">							
										<button class="submit solution-next" type="button" value="Submit">LANJUTKAN <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<!-- STEP 2 -->
							
							<!-- STEP 3 -->
							<div id="step-3" data-image="assets/images/solution-3.jpg">
								<div class="row">
									<div class="col-md-12 step-title">
										<small>Step 03</small>
										<h3>Insurance Question</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 no-padding margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Kondisi Tinggal</label>
			                                <div class="input-field">
			                                	<select name="home" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
					                                <option hidden>Choose</option>
					                                <option>Rumah Sendiri</option>
					                                <option>Rumah Orang Tua</option>
					                            </select>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai Asuransi Rumah?</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="home-insurance" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="home-insurance" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai kendaraan bermotor?</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="vehicle" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="vehicle" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai Asuransi Mobil</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="car-insurance" checked="checked" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="car-insurance" value=" " />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="text-style-2 margin-bottom-20">
			                                <label class="DINPro-Medium padding-left-10">Apakah Anda mempunyai investasi bentuk lain?</label>
			                                <div class="input-field">
			                                	<div class="row">
			                                		<div class="col-md-offset-2 col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="invest" data-list="invest-opt" checked="checked" value="ya" />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Ya</label>
			                                		</div>
			                                		<div class="col-md-5 col-xs-6">		                                			
														<span class="tick-violet">
					                                        <input type="radio" name="invest" data-list="invest-opt" value="tidak" />
					                                    </span>
					                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Tidak</label>
			                                		</div>
			                                	</div>
			                                </div>
			                            </div>
			                            <div id="invest-opt" class="form-hidden active">
			                            	<ul>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Reksa Dana</label>
			                            		</li>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Lorem Ipsum</label>
			                            		</li>
			                            		<li>
			                            			<span class="tick-violet">
				                                        <input type="checkbox" name="invest-list" value=" " />
				                                    </span>
				                                    <label class="font-16 font-xs-12 color-grey" title="Checked state">Dolor Sit amet</label>
			                            		</li>
			                            	</ul>
			                            </div>
									</div>
								</div>
								<div class="row margin-top-50">
									<div class="col-md-12 button-style-1 text-right">							
										<button class="submit solution-next" type="button" value="Submit">LANJUTKAN <i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<!-- STEP 3 -->

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!---//Avrist-contact-form-1-->