#site-footer {
    * {
    	color: white;
    }
    padding: 45px 0;
    @media screen and (max-width: 920px) {
    	padding: 20px 15px;
    }

    a {
    	display: inline-block;
    }

    .contactUs {
    	font-size: 0;
    	margin: 0;
    	li {
    		font-size: initial;
    		display: inline-block;
    		vertical-align: middle;
    		padding-right: 10px;
    		padding-left: 10px;
    		margin-bottom: 25px;
    		&:first-child {
    			padding-left: 0;
    		}
    		p {
    			margin: 0;
    		}
    		a {
    			display: inline-block;
    			img {
    				display: block;
    			}
    		}
    	}
    	@media screen and (max-width: 920px){
    		.bdr-xs {
    			border-right: 1px solid #8869ac;
    			span {
    				line-height: 1;
    			}
    		}
    	}
    }

    .searchPar {
    	position: relative;
    	a {
    		position: absolute;
    		top: 50%;
    		transform: translateY(-50%);
    		right: 20px;
    		i {
    			color: $violet1;
    			font-size: 16px;
    		}
    	}
    }
	
	.aboutUs {
		list-style-type: none;
		li {
			margin: 2px 0;
		}
	}

	.footer-right {
		text-align: right;
		@media screen and (max-width: 1023px){
			text-align: left;
		}
		a:hover {
			text-decoration: underline;
		}
	}

}

#footer-search {
    width: 100%;
    background: white;
    height: 50px;
    line-height: 50px;
    color: black;
    border-radius: 25px;
    padding: 0 20px;
    margin: 20px 0;
}