
    </div>
    <!-- CONTAINER -->

    <!-- FOOTER -->
    <footer id="site-footer" class="bg-ali">
            <div class="container no-padding">
                <div class="contPad">
                    <div class="row">
                        <div class="col-md-7 no-padding">
                            <a class="font-36 font-xs-24" href="#">How can we help?</a>
                            <br>
                            <div class="searchPar">
                                <input id="footer-search" type="text" placeholder="Tell us what you’re looking for...">
                                <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <br class="hidden-xs">
                            <a class="font-24 margin-bottom-xs-10" href="#">Contact Us</a>
                            <ul class="contactUs">
                                <li><a href="#"><img src="./assets/images/icon-call-white.png"></a></li>
                                <li class="bdr-xs"><span class="font-24 DINPro-Bold">5789 8188</span></li>
                                <li><p class="font-12 hidden-xs hidden-sm">Senin- Jumat, 08.00 - 17.00 WIB</p><p class="font-10 visible-xs">Senin- Jumat<br>08.00 - 17.00 WIB</p></li>
                                <li class="hidden-xs hidden-sm">
                                    <a class="margin-left-20" href="#"><img src="./assets/images/footer-fb.png"></a>
                                    <a class="margin-left-20" href="#"><img src="./assets/images/footer-tw.png"></a>
                                    <a class="margin-left-20" href="#"><img src="./assets/images/footer-youtube.png"></a>
                                </li>
                            </ul>
                            <div class="hidden-xs hidden-sm">
                                <img src="./assets/images/total-solution.png">
                            </div>
                        </div>
                        <div class="col-md-5 no-padding footer-right">
                            <ul class="inline-block text-left margin-right-50 margin-bottom-20 aboutUs hidden-xs hidden-sm">
                                <li class="margin-bottom-20">
                                    <a class="font-24" href="">About Us</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">Avrist Life Insurance</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">Avrist General Insurance</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">Avrist Asset Management</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">Tentang Avrist</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">News &amp; Events</a>
                                </li>
                                <li>
                                    <a class="font-12" href="#">Karir Bersama Avrist</a>
                                </li>
                            </ul>
                            <div class="margin-bottom-20 margin-bottom-xs-10">
                                <img src="./assets/images/reksa-ojk.png">
                            </div>
                            <div class="margin-bottom-10">
                                <a class="font-10" href="#">Terms &amp; Condition</a> | <a class="font-10" href="#">Privacy Statement</a>
                            </div>
                            <div>
                                <p class="font-12 font-xs-8">PT. Avrist Assurance terdaftar dan diawasi oleh Otoritas Jasa Keuangan<br> 
                                <span class="font-10 font-xs-8">PT Avrist Assurance © . Hak cipta dilindungi.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button class="back-to-top"><img src="./assets/images/back-to-top.jpg"></button>

            </div>
    </footer>
    <!-- FOOTER -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor.min.js" ></script>
    <script src="assets/js/plugins.min.js" ></script>
    <script src="assets/js/app.min.js" ></script>
    

    @@if (context.script) {
      @@for(var i=0;i<script.length;i++) {
        <script src="`+script[i]+`" ></script>
      }
    }

  </body>
</html>